body {
    font-family: Verdana, Arial, Georgia; 
    background-image: url("../cards/card_back.png"); 
    background-size: cover; 
}

main {
    font-weight: bold; 
}

img {
   border-radius: 5px; 
}

h1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: rgb(206,220,231); 
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); 
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); 
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); 
    /* IE6-9 */
    border-radius: 20px; 
    color: #FFFFFF;
    text-align: center; 
    font-size:  50px; 
    text-shadow:  4px 2px #474747; 
}

h2 {
    border-radius: 20px; 
    color: #FFFFFF;
    text-align: center; 
    font-size:  30px; 
    text-shadow:  4px 2px #474747; 
}

#footer {
    text-align: center;
    height: 15px; 
    padding: 20px;
    margin:  0 auto;
    margin-bottom: 5px; 
}

form #button {
    display: inline-block;
    background: #000000;
    color: #FFF;
    padding: 20px 22px;
    text-decoration: none;
    text-align: center;
    text-align: center;
    font-size: 15px;
}